
/* General/reset styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    color: #333;
  }
  
  .new-section {
    padding-top: 50px;
    text-align: center;
    font-size: 4em;
    font-weight: 100;
  }
  
  /* Header styles */
  
  header {
    position: relative;
    text-align: center;
    height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: white;
    font-size: 11px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  
  header h1 {
    padding-top: 100px;
    padding-top: -webkit-calc(50vh - 113px);
    padding-top: expression(50vh - 113px);
    padding-top: -moz-calc(50vh - 113px);
    padding-top: -o-calc(50vh - 113px);
    padding-top: calc(50vh - 113px);
    font-size: 7em;
    font-weight: 100;
  }
  
  header h2 {
    font-size: 2em;
  }
  
  header span.animated {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 50px;
    height: 4px;
    width: 4px;
    border-radius: 2px;
    background: #fff;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
  }
  
  header span::before,
  header span::after {
    position: absolute;
    top: -23px;
    content: "";
    height: 30px;
    width: 4px;
    border-radius: 2px;
    background: #fff;
  }
  
  header span::before {
    left: -10px;
    -webkit-transform: rotate(-45deg);
    -moz-transform:    rotate(-45deg);
    -ms-transform:     rotate(-45deg);
    -o-transform:      rotate(-45deg);
    transform:         rotate(-45deg);
  }
  
  header span::after {
    right: -10px;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    transform:         rotate(45deg);
  }
  
  /* Scroll animations styles */
  
  .scroll-animations {
    display: flex;
  }
  
  .scroll-animations div {
    flex-grow: 1;
    padding: 30px;
    text-align: center;
    opacity: 0;
    color: #333;
  }
  
  .scroll-animations div span {
    font-size: 4em;
    color: #5AA9E0;
  }
  
  .scroll-animations div h3 {
    font-size: 1.9em;
    font-weight: 400;
    margin-bottom: 10px;
  }
  
  /* Click animations styles */
  
  .click-animations {
    margin-top: 35px;
    padding-bottom: 20px;
    background: #f6f8fa;
  }
  
  .click-animations input {
    display: block;
    margin: 20px auto;
    padding: 10px;
    height: 50px;
    width: 50%;
    font-size: 30px;
    outline: none;
    border: 2px solid transparent;
    transition: 0.3s;
  }
  
  .click-animations textarea {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 50%;
    font-size: 30px;
    outline: none;
    border: 2px solid transparent;
    resize: none;
    transition: 0.3s;
  }
  
  .click-animations input:focus,
  .click-animations textarea:focus {
    border-color: #30cc8b;
  }
  
  .click-animations button {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 50%;
    font-size: 30px;
    border: none;
    outline: none;
    background: #30cc8b;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .click-animations button:active {
    transform: scale(0.95);
  }
  
  .form-error {
    border-color: #F46036 !important;
  }
  
  /* Media queries */
  
  @media (max-width: 759px) {
    header h1 {
      font-size: 5em;
    }
    
    .new-section {
      font-size: 3em;
    }
    
    .scroll-animations {
      display: block;
    }
    
    .scroll-animations div {
      padding: 20px 80px;
    }
    
    .click-animations input,
    .click-animations textarea,
    .click-animations button {
      width: 80%;
    }
  }

  /* FOOTER */
  .h4{
      text-align: right;
  }
  .p{
      margin-top: 15px;
  }
  footer {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: white;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  
  footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
  }
  
  footer a:hover {
    color: #FA944B;
    text-decoration: none;
  }
  
  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
    padding-top: 2em;
    color: white;
  }
  
  
  /*SOCİAL İCONS*/
  
  /* footer social icons */
  
  ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
    float: right;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  
  
  /* footer social icons */
  
  .social-network a.icoFacebook:hover {
    background-color: #3B5998;
  }
  
  .social-network a.icoLinkedin:hover {
    background-color: #007bb7;
  }
  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i {
    color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  .social-network a {
    background-color: #F9F9F9;
  }
  
/* IMG */
.gambar {
  width:auto; 
  text-align:left; 
  padding:20px; 
}
img { 
  max-width:25%; 
  height:auto; 
  float: left;
} 

  @media (max-width: 475px) {
    .new-section {
      font-size: 2.5em;
    } 
    
    header h1 {
      font-size: 3.2em;
    }
    
    header h2,
    .funky-animations h3 {
      font-size: 1.5em;
    }
    
  }
  /* ANIMATED */
  /* This only changes this particular animation duration */
.animate__animated.animate__bounceInDown {
    --animate-duration: 2s;
  }
  
  /* This changes all the animations globally */
  :root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }

  /* This only changes this particular animation duration */
  .animate__animated.animate__bounce {
    --animate-duration: 0.7s;
  }
  
  /* This changes all the animations globally */
  :root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }

  /* This only changes this particular animation duration */
.animate__animated.animate__fadeInLeft {
    --animate-duration: 2s;
  }
  
  /* This changes all the animations globally */
  :root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }

  /* This only changes this particular animation duration */
.animate__animated.animate__bounce {
    --animate-duration: 2s;
  }
  
  /* This changes all the animations globally */
  :root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }
